{{#reply.replies }} 
 <div class='reply' innerID={{this._id}} userID={{this.user_id}}>
  <hr>
  <div class='row' name='comment-head'>
   <div class='column' name='vote'>
    <div class="arrow-up"></div>
    <div class="count">{{likes}}</div>
    <div class="arrow-down"></div>  
   </div>
   <div class='row' name='comment-titles'>
     <div class="edit-n-erase tooltip4b" tier='reply' style='display: none'>
      <img src="../images/edit.png" name='edit'>
      <img src="../images/erase.png" name='erase'>
        <span class="tooltiptext l">Edit</span>
        <span class="tooltiptext r">Delete</span>
     </div>    
      <div class='comment-title'>By: <i>{{this.user_name}}</i></div>
      <div class='comment-title'>Edited: <i>{{this.created}}</i></div>
   </div>
  </div>  
  <div class="comment-content"> 
   <p>{{paragraph}}</p>
  </div> 
</div> 
{{/reply.replies}} 
